:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  overflow-x: hidden;
  
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  text-transform:uppercase;
  margin-right: 24px;
  transition: color .3s ease;
  color: hwb(180 0% 0%) !important;
}

.collection{ 
  border: none !important;
}

.lesson_grid {
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0)) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
  border: 1px solig rgba(255, 255, 255, 0.18) !important;
  border-radius: 32px !important;
}

.card--action {
  border-top: 1px solid rgba(160,160,160,0.2) !important;
  position: relative !important;
  padding: 16px 24px !important;
}


.question {
  position: absolute;
  left: 50%;
  width: auto;
  font-size: 40px;
  color: aliceblue;
  transform: translateX(-50%);
}

.answers {
  position: absolute;
  top: 25%;
  padding-left: 25%;
  padding-right: 25%;
}
.answer__button {
  font-size: 20px;
  border: 1px solid white;
  margin: 5px;
}

.count {
  margin-left: 20px;
}